div {
    justify-self: center;
}

h1 {
    color: #4fbd93;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bolder;
    margin-top: 22px;
    margin-bottom: 22px;
    font-size: 30pt;
}

p {
    line-height: 1.25em;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 12pt;
}

a {
    color: #4fbd80;
    text-decoration: none;
    font-weight: bolder;
    
}

a:hover {
    color: #88669b;
}

a:visited {
    color: #6ac7d7;
}

a:visited:hover {
    color: #669b7e;
}

.the-nav-bar {
    grid-column-end: span;
    justify-self: revert;
}

.the-nav-bar a {
    font-weight: normal;
}


    .content {
    max-width: 1000px;
    margin: auto;
    display: grid;
    justify-content: center;
    gap: 12px;
    }


@media (min-width: 600px) {
    .content {
        grid-template-columns: repeat(2, 1fr);;
    }
    .the-nav-bar {
        grid-column-end: span 2;
    }
    
    .centered {
        grid-column-end: span 2;
    }
    .video {
        grid-column-end: span 2;
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        
    }
    .embedded {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .full-width-text {
        padding-left: 22px;
        grid-column-end: span 2;
    }
    .btn-primary {
        background-color: #674fbd;
        border-color: #704fbd;
    }
    .btn-primary:hover {
        background-color: #ee9440;
        border-color: #e9984d;
    }
    .btn-primary:visited {
        color: rgba(255, 255, 255, 0.315);
    }
    
    .card {
        background-color: rgba(245, 245, 245, 0.603);
        margin-bottom: 22px;
    }
}

@media (min-width: 900px) {
    .the-nav-bar {
        grid-column-end: span 3;
    }
    
    .content {
        grid-template-columns: repeat(3, 1fr);;
    }
    .centered {
        grid-column-end: span 3;
    }
    .video {
        grid-column-end: span 3;
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 50%;  
    }
    .embedded {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .full-width-text {
        padding-left: 16px;
        grid-column-end: span 2;
    }

    .project-description {
        padding-left: 18px;
        grid-column-end: span 2;
    }

    .btn-primary {
            background-color: #953fbd;
            border-color: #2f0338;
        }
    .btn-primary:hover {
            background-color: #d18a20;
            border-color: #e78d39;
        }
    .btn-primary:visited {
            color: rgba(255, 255, 255, 0.384);
        }
        
    .card {
            background-color: rgba(245, 245, 245, 0.281);
            margin-bottom: 20px;
        }
}


.centered {
    grid-column-end: span;
}
.project-image {
    grid-column-end: span;
}

.project-image img {
    box-shadow: 10px 5px 5px silver;
}

.project-description {
    padding-left: 20px;
    grid-column-end: span;
}


.embedded {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.full-width-text {
    padding-left: 20px;
    grid-column-end: span;
}
.btn-primary {
    background-color: #4f91bd;
    border-color: #4f8bbd;
}
.btn-primary:hover {
    background-color: #7fc9fb;
    border-color: #7f96fb;
}
.btn-primary:visited {
    color: rgba(255, 255, 255, 0.568);
}

.card {
    background-color: rgba(245, 245, 245, 0.945);
    margin-bottom: auto;
}